In [1]:
!pip install PyMySQL
!pip install mysql-connector-python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
from sqlalchemy import create_engine

Requirement already satisfied: PyMySQL in /Users/cathyqin/opt/anaconda3/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: mysql-connector-python in /Users/cathyqin/opt/anaconda3/lib/python3.8/site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in /Users/cathyqin/opt/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.15.8)
Requirement already satisfied: six>=1.9 in /Users/cathyqin/opt/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
df = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Results.csv")
liquor=pd.read_csv('Liquor_Authority_Current_List_of_Active_Licenses.csv')
food_poisoning=pd.read_csv('food_poisoning.csv')
man_board = pd.read_csv("Community_Board_Leadership.csv")
bkn_board = pd.read_csv("Community_Board_Contact_List.csv")
qns_board = pd.read_csv("Queens_Community_Board_District_Managers_and_Chairs.csv")
brx_si_board = pd.read_csv("bronx_statenisland_boards.csv")
df_0 = pd.read_csv("NYSLA_License_and_Permit_Code_Classification_Categories.csv")

In [3]:
# create an 'address' column that joins 'building' and 'street'
cols = ['BUILDING', 'STREET']
df['Address'] = df[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

inspection = df[['CAMIS','DBA','BORO', 'Address', 'ZIPCODE', 'PHONE', 'CUISINE DESCRIPTION', 'INSPECTION DATE', 'VIOLATION CODE', 'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE', 'Latitude', 'Longitude', 'Community Board']]
inspection = inspection[~inspection['DBA'].isnull()]

In [4]:
#merge the liquor, violation and food_poisoning data
liquor=liquor.drop('Georeference',axis=1)
df1=pd.merge(inspection,liquor,left_on='Address',right_on='Premise Address',how="inner")
df2=pd.merge(df1,food_poisoning,left_on='Address',right_on='Incident Address',how="inner")
df2['Community Board'] =df2['Community Board_y']

In [5]:
#select relavent columns
df2=df2[['CAMIS',
 'DBA_x',
 'BORO',
 'Address',
 'ZIPCODE',
 'PHONE',
 'CUISINE DESCRIPTION',
 'INSPECTION DATE',
 'VIOLATION CODE',
 'VIOLATION DESCRIPTION',
 'CRITICAL FLAG',
 'SCORE',
 'GRADE',
 'Latitude_x',
 'Longitude_x',
 'Community Board',
 'Serial Number',
 'County',
 'License Type Code',
 'License Class Code',
 'Certificate Number',
 'Premise Name',
 'DBA_y',
 'License Issued Date',
 'License Expiration Date',
 'Method of Operation',
 'Unique Key',
 'Created Date',
 'Closed Date',
 'Agency',
 'Agency Name',
 'Complaint Type',
 'Descriptor',
 'Status',
 'Due Date',
 'Resolution Action Updated Date',
 'Borough',
 'Park Facility Name',
 'Park Borough',
 'Latitude_y',
 'Longitude_y',
 'Location',
 'Location Type']]

In [6]:
#ensure all the commnity board datasets have the same formating and are joined together
brx_si_board = brx_si_board[:15]
man_board['Borough'] = man_board['Borough'].fillna('MANHATTAN')

qns_board['Chair'] = qns_board['CB Chair - First Name'].str.cat(qns_board['CB Chair - Last Name'],sep=" ")
qns_board['District Manager'] = qns_board['District Manager - First Name'].str.cat(qns_board['District Manager - Last Name'],sep=" ")
bkn_board['Board Number'] = bkn_board['Board Number'].str.extract("([-+]?\d*\.\d+|[-+]?\d+)").astype(int)

man_board['Board Number'] = man_board['Community Board']
man_board['Address'] = man_board['Address 1']

qns_board['Board Number'] = qns_board['Board']

brx_si_board['Board Number'] = brx_si_board['Community Board']
brx_si_board['District Manager'] = brx_si_board['District Manager ']
brx_si_board['Address'] = brx_si_board['Address 1']

man_board_trunc = man_board[['Board Number','Chair','District Manager','Address','Postcode','Borough']]
bkn_board_trunc = bkn_board[['Board Number','Chair','District Manager','Address','Postcode','Borough']]
qns_board_trunc = qns_board[['Board Number','Chair','District Manager','Address','Postcode','Borough']]
brx_si_board_trunc = brx_si_board[['Board Number','Chair','District Manager','Address','Postcode','Borough']]

board_list = man_board_trunc.append([bkn_board_trunc], ignore_index = True
                      ).append([qns_board_trunc], ignore_index = True
                              ).append([brx_si_board_trunc], ignore_index = True)

board_list['Borough'] = board_list['Borough'].str.upper()
board_list['Board Number'] = board_list['Board Number'].astype(float).astype(int)
board_list['Board Number'] = board_list['Board Number'].apply('{:0>2}'.format).astype(str)
board_list['Board Number'] = board_list['Board Number'].astype(str)

In [7]:
board_list['Community Board'] = board_list['Board Number'] + ' ' +  board_list['Borough']

In [8]:
board_list['Board Address'] = board_list['Address']
board_list['Board Borough'] = board_list['Borough']

board_list = board_list.drop(columns = ['Address' ,'Borough'])

In [9]:

#merge community boards with the other dataset
df = pd.merge(df2, board_list, on = 'Community Board', how = 'left')

In [10]:
df

,CAMIS,DBA_x,BORO,Address,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,VIOLATION CODE,VIOLATION DESCRIPTION,...,Latitude_y,Longitude_y,Location,Location Type,Board Number,Chair,District Manager,Postcode,Board Address,Board Borough
0,40961653,FLOR DE MAYO RESTAURANT,Manhattan,2651 BROADWAY,10025.0,2126635520,Chinese/Cuban,12/18/19,02G,Cold food item held above 41ยบ F (smoked fish a...,...,40.797587,-73.969654,"(40.7975873, -73.9696542)",Restaurant/Bar/Deli/Bakery,07,Elizabeth R. Caputo,Penny Ryan,10024.0,"250 W. 87th Street, New York, NY 10024",MANHATTAN
1,40961653,FLOR DE MAYO RESTAURANT,Manhattan,2651 BROADWAY,10025.0,2126635520,Chinese/Cuban,2/14/18,10H,Proper sanitization not provided for utensil w...,...,40.797587,-73.969654,"(40.7975873, -73.9696542)",Restaurant/Bar/Deli/Bakery,07,Elizabeth R. Caputo,Penny Ryan,10024.0,"250 W. 87th Street, New York, NY 10024",MANHATTAN
2,40961653,FLOR DE MAYO RESTAURANT,Manhattan,2651 BROADWAY,10025.0,2126635520,Chinese/Cuban,6/20/19,02G,Cold food item held above 41ยบ F (smoked fish a...,...,40.797587,-73.969654,"(40.7975873, -73.9696542)",Restaurant/Bar/Deli/Bakery,07,Elizabeth R. Caputo,Penny Ryan,10024.0,"250 W. 87th Street, New York, NY 10024",MANHATTAN
3,40961653,FLOR DE MAYO RESTAURANT,Manhattan,2651 BROADWAY,10025.0,2126635520,Chinese/Cuban,12/19/17,04N,Filth flies or food/refuse/sewage-associated (...,...,40.797587,-73.969654,"(40.7975873, -73.9696542)",Restaurant/Bar/Deli/Bakery,07,Elizabeth R. Caputo,Penny Ryan,10024.0,"250 W. 87th Street, New York, NY 10024",MANHATTAN
4,40961653,FLOR DE MAYO RESTAURANT,Manhattan,2651 BROADWAY,10025.0,2126635520,Chinese/Cuban,6/18/18,08A,Facility not vermin proof. Harborage or condit...,...,40.797587,-73.969654,"(40.7975873, -73.9696542)",Restaurant/Bar/Deli/Bakery,07,Elizabeth R. Caputo,Penny Ryan,10024.0,"250 W. 87th Street, New York, NY 10024",MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58130,50100673,HOUSE OF LASAGNA,Manhattan,334 LEXINGTON AVENUE,10016.0,2128839555,Italian,2/6/20,10F,Non-food contact surface improperly constructe...,...,40.749636,-73.977378,"(40.7496358, -73.9773779)",Restaurant/Bar/Deli/Bakery,06,Richard Eggers,Jesus Perez,NaN,"P.O. Box 1672, New York, NY 10159-1672",MANHATTAN
58131,50100673,HOUSE OF LASAGNA,Manhattan,334 LEXINGTON AVENUE,10016.0,2128839555,Italian,2/6/20,06C,Food not protected from potential source of co...,...,40.749636,-73.977378,"(40.7496358, -73.9773779)",Restaurant/Bar/Deli/Bakery,06,Richard Eggers,Jesus Perez,NaN,"P.O. Box 1672, New York, NY 10159-1672",MANHATTAN
58132,50088153,FUMO,Manhattan,2791 BROADWAY,10025.0,6468222921,Italian,3/28/19,02G,Cold food item held above 41ยบ F (smoked fish a...,...,40.802544,-73.967947,"(40.8025438, -73.967947)",Restaurant/Bar/Deli/Bakery,07,Elizabeth R. Caputo,Penny Ryan,10024.0,"250 W. 87th Street, New York, NY 10024",MANHATTAN
58133,50088153,FUMO,Manhattan,2791 BROADWAY,10025.0,6468222921,Italian,3/28/19,06C,Food not protected from potential source of co...,...,40.802544,-73.967947,"(40.8025438, -73.967947)",Restaurant/Bar/Deli/Bakery,07,Elizabeth R. Caputo,Penny Ryan,10024.0,"250 W. 87th Street, New York, NY 10024",MANHATTAN
58134,50097512,SAPPHIRE GENTLEMANS CLUB TIMES SQUARE,Manhattan,1674 BROADWAY,10019.0,4104444233,Other,1/2/20,06D,"Food contact surface not properly washed, rins...",...,40.762861,-73.983109,"(40.7628609, -73.9831095)",Restaurant/Bar/Deli/Bakery,05,Vikki Babero,Wally Rubin,10123.0,"450 7th Avenue, New York, NY 10123",MANHATTAN

In [11]:
#rename df, this ensures column names follow the naming convention set out in our ER diagram

df_new = df.rename(columns={'CAMIS': 'camis',
                            'DBA_x' : 'restaurant_name_violations',
                            'Premise Name': 'premise_name_liqour_license',
                            'ZIPCODE': 'zip',
                            'Board Address' : 'board_address',
                            'PHONE': 'phone_number',
                            'CUISINE DESCRIPTION' : 'cuisine_name',
                            'Community Board' : 'board_id',
                            'Borough' :'borough_name',
                            'District Manager' : 'district_manager',
                            'VIOLATION CODE' : 'violation_code',
                            'VIOLATION DESCRIPTION' : 'violation_description',
                            'CRITICAL FLAG' : 'critical_flag',
                            'License Class Code' : 'license_class_code',
                            'License Type Code' : 'license_type_code',
                            'Address' : 'address',
                            'SCORE' : 'score',
                            'GRADE' : 'grade',
                            'INSPECTION DATE' : 'inspection_date',
                            'License Expiration Date' : 'license_expiration_date',
                            'Complaint Type' : 'complaint_type',
                            'Descriptor' : 'descriptor',
                            'Unique Key' : 'food_poisoning_complaint_id',
                            'Closed Date' : 'close_date',
                            'Status' : 'status',
                            'Due Date' : 'due_date',
                            'Location Type' : 'location_type',
                            'Chair' : 'chair',
                            'License Issued Date' : 'license_issued_date',
                            'Created Date' : 'incident_created_date',
                            'Method of Operation' : 'license_description'})

#find day of the week from inspection date
df_new['day_of_the_week'] = pd.to_datetime(df_new['inspection_date']).dt.dayofweek

In [12]:
df_new['board_id']

0        07 MANHATTAN
1        07 MANHATTAN
2        07 MANHATTAN
3        07 MANHATTAN
4        07 MANHATTAN
             ...
58130    06 MANHATTAN
58131    06 MANHATTAN
58132    07 MANHATTAN
58133    07 MANHATTAN
58134    05 MANHATTAN
Name: board_id, Length: 58135, dtype: object

In [13]:
#create tables
stmt1 = """

CREATE TABLE location_types (
    location_type_id  integer NOT NULL,
    location_type       varchar (100) UNIQUE,
    PRIMARY KEY(location_type_id)
);

CREATE TABLE community_board (
    board_id        varchar(30) NOT NULL,
    chair           varchar(70),
    district_manager  varchar(70),
    board_address   varchar(100),
    PRIMARY KEY(board_id)
);

CREATE TABLE restaurants (
    camis              integer,
    restaurant_name_violations    varchar(100) NOT NULL,
    location_type      varchar (100),
    address            varchar(200) NOT NULL,
    borough_name   varchar(15) NOT NULL,
    zip                integer,
    phone_number       varchar (12),
    board_id        varchar(30) NOT NULL,
    PRIMARY KEY (camis),
    FOREIGN KEY(location_type) REFERENCES location_types(location_type),
    FOREIGN KEY(board_id) REFERENCES community_board(board_id)
);

CREATE TABLE violations (
    violation_code        varchar(10) NOT NULL,
    violation_description text,
    critical_flag         varchar(1) CHECK (critical_flag IN ('Y', 'N')),
    PRIMARY KEY (violation_code)
);

CREATE TABLE license_type (
    license_id      integer,
    license_class_code     int(64) NOT NULL,
    license_type_code varchar(2) NOT NULL,
    license_description text,
    PRIMARY KEY (license_id)
);

CREATE TABLE cuisines (
    cuisine_id    integer,
    cuisine_name   varchar(80) NOT NULL,
    PRIMARY KEY (cuisine_id)
);


CREATE TABLE incidents (
    food_poisoning_complaint_id    integer,
    descriptor     varchar(100) CHECK (descriptor IN ('1 or 2', '3 or More')),
    PRIMARY KEY (food_poisoning_complaint_id)
);

CREATE TABLE restaurants_violations (
    camis             integer,
    violation_code    varchar(10),
    grade             varchar(1),
    score             integer,
    inspection_date   date,
    day_of_the_week integer,
    PRIMARY KEY (camis, violation_code, inspection_date),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (violation_code) REFERENCES violations(violation_code)
);

CREATE TABLE restaurants_licenses(
    camis           integer,
    license_id      integer,
    license_issued_date      date,
    license_expiration_date date NOT NULL,
    PRIMARY KEY (camis, license_id,license_issued_date),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (license_id) REFERENCES license_type(license_id)
);

CREATE TABLE restaurants_incidents(
    camis       integer,
    food_poisoning_complaint_id integer,
    incident_created_date varchar(50),
    status      varchar(20) NOT NULL,
    due_date    date,
    close_date  date,
    PRIMARY KEY (camis, food_poisoning_complaint_id, incident_created_date),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (food_poisoning_complaint_id) REFERENCES incidents(food_poisoning_complaint_id)
);

CREATE TABLE restaurants_cuisine(
    camis         integer,
    cuisine_id    integer,
    PRIMARY KEY (camis, cuisine_id),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (cuisine_id) REFERENCES cuisines(cuisine_id)
);

"""

In [14]:
# connect to DATABASE
# execute table creation
import pymysql
conn_url = 'mysql+pymysql://root:Cathy1998@localhost/5000PROJECT'
engine = create_engine(conn_url)
connection = engine.connect()


# db = pymysql.connect(host="127.0.0.1", 
#                      user="root", 
#                      password="Cathy1998", 
#                      port=3306, 
#                      database="versionSAN", 
#                      charset='utf8')
# cursor = db.cursor()
for sqldata in stmt1.split(";")[:-1]:
    results = connection.execute(sqldata)

In [15]:
# format data in tables set out into our ER diagram so that it can be loaded into the databse
restaurants=df_new[['camis', 'restaurant_name_violations','location_type', 'address' ,'borough_name','zip','phone_number', 'board_id']]
restaurants= restaurants.drop_duplicates(subset='camis').reset_index()
restaurants= restaurants[['camis', 'restaurant_name_violations' ,'location_type' ,'address','borough_name','zip','phone_number','board_id']]

In [16]:
community_board = df_new[['board_id', 'chair','district_manager', 'board_address']].drop_duplicates().reset_index()
community_board['district_manager'] = community_board['district_manager'].str.split('  ').str[0]
community_board = community_board[['board_id', 'chair','district_manager', 'board_address']]

In [17]:
violations = df_new[['violation_code','violation_description','critical_flag']]
violations = violations.drop_duplicates(subset='violation_code').dropna(subset=['violation_code']).reset_index()
violations = violations[['violation_code','violation_description','critical_flag']]

In [18]:
incidents = df_new[['food_poisoning_complaint_id','descriptor']].drop_duplicates().reset_index()
incidents = incidents[['food_poisoning_complaint_id', 'descriptor']]

In [19]:
location_types = pd.DataFrame(df_new['location_type'].drop_duplicates()).reset_index()
location_types['location_type_id'] = location_types.index
location_types=location_types[['location_type_id','location_type']]

In [20]:
license_type_wip = df_new[['license_class_code','license_type_code']]
license_type_wip = license_type_wip.drop_duplicates().reset_index()
license_type_wip['license_id'] = license_type_wip.index
license_type_wip = license_type_wip[['license_id', 'license_class_code','license_type_code']]

In [21]:
license_type_wip

    license_id license_class_code license_type_code
0            0                252                OP
1            1                341                RW
2            2                241                RL
3            3                246                CT
4            4                242                HL
5            5                344                TW
6            6                141                EB
7            7                122                AX
8            8                222                 L
9            9                126                DX
10          10                128                AX
11          11                303                WW
12          12                203                LL
13          13                122                 A
14          14                252                TL
15          15                243                CL
16          16                256                CR
17          17                123                AX
18          18                260                AL
19          19                341                TW
20          20                105                CO
21          21                240                VL
22          22                441                SB

In [22]:
df_0

,License Class Code,License Type Code,License Description
0,140,VB,VESSEL BEER
1,141,EB,EATING PLACE BEER
2,142,HB,HOTEL BEER
3,143,CB,CLUB BEER
4,144,BP,BALL PARK BEER
...,...,...,...
83,903,*,BEER STANDS
84,904,*,BEER STANDS
85,949,*,ADD'L BARS IN LEGITMATE THEATRE OR CONCERT HALL
86,950,*,ADD'L BARS IN LEGITMATE THEATRE OR CONCERT HALL
87,951,*,ADD'L BARS IN LEGITMATE THEATRE OR CONCERT HALL

In [23]:
license_type_wip['license_class_code'] = license_type_wip['license_class_code'].astype(int)
license_type_wip['license_class_code'].dtype

dtype('int64')

In [24]:
license_type = pd.merge(license_type_wip, df_0,  how='left', left_on=['license_class_code','license_type_code'], right_on = ['License Class Code','License Type Code'])

In [25]:
license_type['license_description'] = license_type['License Description']
license_type = license_type[['license_id','license_class_code','license_type_code','license_description']]

In [26]:
update_df = pd.DataFrame(df_new.cuisine_name.str.split('/').tolist(), index=df_new.camis).stack()
update_df = update_df.reset_index([0, 'camis']).drop_duplicates().reset_index(drop = True)
update_df.columns = ['camis', 'cuisine_name']

In [27]:
cuisines = update_df[['cuisine_name']].drop_duplicates().reset_index(drop = True)
cuisines['cuisine_id'] = cuisines.index
cuisines = cuisines[['cuisine_id','cuisine_name']]

In [28]:
update_df1 = pd.merge(update_df , cuisines, on = 'cuisine_name', how = 'inner')

In [29]:
restaurants_cuisine = pd.merge(restaurants , update_df1, on = 'camis', how = 'right')
restaurants_cuisine = restaurants_cuisine[['camis','cuisine_id']]

In [30]:
restaurants_violations_wip = df_new[['camis','violation_code','score','grade','inspection_date','day_of_the_week']].drop_duplicates().dropna(subset=['violation_code']).reset_index()
restaurants_violations = restaurants_violations_wip[['camis','violation_code','score','grade','inspection_date','day_of_the_week']]

In [31]:
license_type['license_type_code'].dtype

dtype('O')

In [32]:
restaurants_licenses_wip=df_new[['camis', 'license_class_code','license_type_code' ,'license_issued_date', 'license_expiration_date']].drop_duplicates().reset_index()

In [33]:
license_type['license_class_code'].dtype

dtype('int64')

In [34]:
restaurants_licenses_wip['license_class_code'] = restaurants_licenses_wip['license_class_code'].astype(int)

In [35]:
restaurants_licenses_wip['license_class_code'].dtype

dtype('int64')

In [36]:
restaurants_licenses_wip=pd.merge(restaurants_licenses_wip, license_type, on = ['license_class_code','license_type_code']).drop(columns = ['license_class_code','license_type_code'])

In [37]:
restaurants_licenses = restaurants_licenses_wip[['camis','license_id','license_issued_date','license_expiration_date']]
restaurants_incidents=df_new[['camis','incident_created_date' ,'food_poisoning_complaint_id', 'status', 'due_date', 'close_date']]
restaurants_incidents=restaurants_incidents.drop_duplicates().reset_index()
restaurants_incidents = restaurants_incidents[['camis','incident_created_date', 'food_poisoning_complaint_id', 'status', 'due_date', 'close_date']]

In [38]:
restaurants_incidents=df_new[['camis','incident_created_date' ,'food_poisoning_complaint_id', 'status', 'due_date', 'close_date']]
restaurants_incidents=restaurants_incidents.drop_duplicates().reset_index()
restaurants_incidents = restaurants_incidents[['camis','incident_created_date', 'food_poisoning_complaint_id', 'status', 'due_date', 'close_date']]

In [39]:
community_board = df_new[['board_id', 'chair','district_manager', 'board_address']].drop_duplicates().reset_index()
community_board['district_manager'] = community_board['district_manager'].str.split('  ').str[0]
community_board = community_board[['board_id', 'chair','district_manager', 'board_address']]

In [40]:
# convert to datetime datatype
restaurants_violations['inspection_date'] = pd.to_datetime(restaurants_violations['inspection_date'])

<ipython-input-40-6c439cbce67b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_violations['inspection_date'] = pd.to_datetime(restaurants_violations['inspection_date'])

In [41]:
restaurants_incidents['due_date'] = pd.to_datetime(restaurants_incidents['due_date'])

In [42]:
restaurants_incidents['close_date'] = pd.to_datetime(restaurants_incidents['close_date'])

In [43]:
restaurants_licenses['license_expiration_date'] = pd.to_datetime(restaurants_licenses['license_expiration_date'])

<ipython-input-43-b8fc0c62ceaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_licenses['license_expiration_date'] = pd.to_datetime(restaurants_licenses['license_expiration_date'])

In [46]:
# load data into DATABASE
restaurants_licenses['license_issued_date'] = pd.to_datetime(restaurants_licenses['license_issued_date'])

<ipython-input-46-e5760a34bfd8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_licenses['license_issued_date'] = pd.to_datetime(restaurants_licenses['license_issued_date'])

In [47]:
location_types.to_sql(name='location_types', con=engine, if_exists='append', index=False)

In [48]:
community_board.to_sql(name='community_board', con=engine, if_exists='append', index=False)

In [49]:
restaurants.to_sql(name='restaurants', con=engine, if_exists='append', index=False)

In [50]:
cuisines.to_sql(name='cuisines', con=engine, if_exists='append', index=False)

In [51]:
license_type.to_sql(name='license_type', con=engine, if_exists='append', index=False)

In [52]:
incidents.to_sql(name='incidents', con=engine, if_exists='append', index=False)

In [53]:
restaurants_cuisine.to_sql(name='restaurants_cuisine', con=engine, if_exists='append', index=False)

In [54]:
restaurants_licenses.to_sql(name='restaurants_licenses', con=engine, if_exists='append', index=False)

In [55]:
restaurants_incidents.to_sql(name='restaurants_incidents', con=engine, if_exists='append', index=False)

In [56]:
violations.to_sql(name='violations', con=engine, if_exists='append', index=False)

In [57]:
restaurants_violations.to_sql(name='restaurants_violations', con=engine, if_exists='append', index=False)